<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.min.myblogv1.repository.mapper.DataGetMapper">
    <select id="getTablesName" resultType="String">
        select TABLE_NAME from INFORMATION_SCHEMA.tables where TABLE_SCHEMA = 'practice' and TABLE_NAME not like 'member';
    </select>

    <insert id="save">
        insert into ${category}(category,title,content) values(#{category},#{title},#{content})
    </insert>

    <select id="findTextByTitle" resultType="WriteForm">
        select * from ${category} where title=#{title}
    </select>

    <select id="findTextById" resultType="WriteForm">
        select * from ${category} where id=#{id}
    </select>

    <select id="findTextLatest" resultType="WriteForm">
        select * from ${category} order by id desc limit 1
    </select>

    <update id="update">
        update ${category} set category=#{category}, title=#{title}, content=#{content} where id=#{id};
    </update>

    <update id="resetAutoIncrement">
<!--        ALTER table ${category} AUTO_INCREMENT=1-->
        ALTER TABLE ${category} ALTER COLUMN id set default 1;
    </update>

    <update id="setCountToZero">
        set @count=0
    </update>

    <update id="updateId">
        update ${category} set id=@count:=@count+1
    </update>

    <delete id="deleteById">
        delete from ${category} where id=#{id};
    </delete>
</mapper>