<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.min.myblogv1.repository.mapper.DataGetMapper">
    <select id="getTablesName" resultType="String">
        show tables
    </select>

    <insert id="save">
        insert into ${category}(category,title,content) values(#{category},#{title},#{content})
    </insert>
</mapper>