<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.min.myblogv1.repository.mapper.PagingMapper">
    <select id="getPaging" resultType="WriteForm">
        select * from ${tableName} where deleted is null order by id desc
    </select>
</mapper>